/* Global Styles */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between; /* Add space between text and image */
  padding: 0 5%; /* Add padding on the sides */
}

.intro_sec {
  display: flexbox;
  justify-content: end;
  padding-left: 10rem;
  flex: 1;
  width: 100%;
}

.mb-1x {
  margin-bottom: 1rem;
  width: 100%;
  padding-right: 10rem;
}
.boxen {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap-reverse;
  overflow: hidden;
  order: 2; /* Ensure image is second */
  height: 100vh;
  width: 100%;
  padding-right: 5rem;
}
.inner-boxen {
  height: 100%; /* Fixed height of the container */
  width: 100%; /* Full width */
  overflow: hidden; /* Hide overflow to crop the image */
  display: flex;
  flex-wrap: wrap;
  align-items: start; /* This will vertically align the image to the center */
  justify-content: center; /* This will horizontally align the image */
}

/* Specific styles for the image */
.profilbild {
  width: auto; /* Maintain the original width to avoid stretching */
  height: 150%; /* Make the image fill the container's height */
  object-fit: cover; /* This will ensure the image covers the area without stretching */
  object-position: bottom; /* Adjust to focus on the desired area */
}

.ac_btn {
  padding: 4px 19px;
  color: var(--secondary-color);
  position: relative;
  border: var(--secondary-color) 2px solid;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  cursor: pointer;
  border-radius: 0;
  margin-right: 20px;
}

.ac_btn a {
  text-decoration: none;
}

.ac_btn:hover {
  box-shadow: 8px 8px 0px var(--text-color), -8px -8px 0px var(--text-color);
}

.ac_btn:hover .one {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.ac_btn:hover .two {
  transform: translate3d(0px, 0px, 0px);
}

.ac_btn:hover .three {
  transform: translate3d(0px, 0px, 0px);
}

.ac_btn:hover .four {
  transform: translate3d(0px, 0px, 0px);
}

.ac_btn .ring {
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  transform: translate3d(0px, 90px, 0px);
}

.ac_btn .one {
  background-color: #000;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -3;
  z-index: -4;
}

.ac_btn .two {
  background-color: var(--primary-color);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -3;
}

.ac_btn .three {
  background-color: var(--secondary-color);
  z-index: -2;
  transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -3;
}

#button_p {
  background: var(--secondary-color);
  color: var(--primary-color);
}

#button_h:hover {
  color: var(--secondary-color);
}
@media (max-width: 1450px) {
  .home {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
  }
  .boxen {
    order: 1;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }
  .inner-boxen {
    display: flex;
    width: 170%;
    height: 100%;
  }

  /* Specific styles for the image */
  .profilbild {
    width: 100%; /* Maintain the original width to avoid stretching */
    height: 200%; /* Make the image fill the container's height */
    object-fit: cover; /* This will ensure the image covers the area without stretching */
    object-position: bottom; /* Adjust to focus on the desired area */
    align-items: center;
    margin-right: 70px;
  }
  .intro_sec {
    padding-left: 0;
    padding-right: 0;
    order: 2;
    flex: 1;
    max-width: 100%;
  }
}

@media (max-width: 990px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .boxen {
    order: 1;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .inner-boxen {
    display: flex;
    width: 170%;
    height: 100%;
  }

  /* Specific styles for the image */
  .profilbild {
    width: 100%; /* Maintain the original width to avoid stretching */
    height: 200%; /* Make the image fill the container's height */
    object-fit: cover; /* This will ensure the image covers the area without stretching */
    object-position: bottom; /* Adjust to focus on the desired area */
    align-items: center;
  }
  .intro_sec {
    padding: 0;
    order: 2;
    flex: 1;
    max-width: 100%;
  }
  .mb-1x {
    padding-right: 0;
  }
  .intro_btn-action {
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 0;
  }
}
