@media only screen and (max-width: 991px) {
}

.page-enter {
  transform: translateY(100%);
}

.page-enter-active {
  transform: translateY(0%);
  transition: all 400ms ease-out;
}

.page-exit {
  transform: translateY(0%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.page-exit-active {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(-130%);
  transition: all 400ms ease-out;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}
/* Define the keyframes for the moving background animation */
@keyframes movingBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Apply the animation for mobile screens */
@media only screen and (max-width: 991px) {
  body {
    /* Adjust the color stops to suit your color scheme */
    background: -o-linear-gradient(90deg, #000000, #63ffff, #2a2a2a, #000000);
    background-size: 400% 400%;
    animation: movingBackground 5s linear infinite;
  }
}

/* Other existing styles... */
